footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 0.1rem;
    background-color: #124f4f60;
}

footer i{
    color: #f1f1f1;
    font-size: 1.5rem;
    margin: 0.5rem;
}

footer a:hover i{
    color: #0b8b8b;
}